- @color ||= '#a00000'

/ use Chartkick to render a chart!
= area_chart @daily_balances,
  prefix: '$',
  thousands: ',',
  points: false,
  curve: false,
  colors: [@color],
  library: { tooltips: { intersect: false } }

javascript:
  $('#chart-1').click(function(e) {
    var chart = Chartkick.charts['chart-1'].chart;
    var f = chart.getElementAtEvent(e);
    var g = f;
  });
