h1 Home

= render partial: 'home/cash_flow'
= render partial: 'accounts/list'
= render partial: 'accounts/new_transaction'
= render partial: 'accounts/new_recurring_transaction'
= render partial: 'accounts/new_account'
