/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

h1, h2, h3, h4, h5 {
  font-family: "Idlewild SSm A", "Idlewild SSm B";
  // font-family: "Sentinel SSm A", "Sentinel SSm B", superclarendon;
  font-weight: 600;
}

h1 {
  font-weight: 600;
  color: #FF4F00;
  font-size: 1rem;
}

h3, h4, h5 {
  margin-bottom: 1rem;
}

.card-header {
  font-family: "Idlewild SSm A", "Idlewild SSm B"; 
  background: lighten(#E5E4E4, 5%); 
  // background: darken(#E5E4E4, 20%);
  // color: #fff;
  padding-left: 0;
}

.card {
  border-radius: 0;
  border-left: none;
  border-right: none;
  padding-left: 0;
  border-top: 2px solid darken(#E5E4E4, 60%);
}

body {
  background-color: lighten(#E5E4E4, 5%);
}

body, input {
  font-family: "proxima-nova", "Segoe UI", sans-serif;
  color: darken(#E5E4E4, 50%);
}


@mixin min-width {
  min-width: 120px;
}

.btn-add {
  @include min-width;
}

.currency {
  text-align: right;
}

.overdrawn {
  background: lighten(#f00, 46%);
}

.future {
  td {
    color: #888;
  }
}

.today {
  td {
    border-color: #FF4F00;
    border-width: 2px;
  }
}

td.day {
  width: 2rem;
  white-space: nowrap;
  text-align: right;
}

td.credit, td.debit, th.credit, th.debit {
  display: none;
}

@media only screen and (min-width : 1400px) {
  th.amount, td.amount {
    display: none;
  }

  td.credit, td.debit, th.credit, th.debit {
    display: table-cell;
  }
}