/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$color_brand: #a00000;
$red: $color_brand;

h1 {
  color: $color_brand;
  font-weight: 800;
  line-height: 1.0;
}

h3, h4, h5 {
  margin-bottom: 1rem;
}

.card-header {
  background: lighten(#E5E4E4, 5%);
  padding-left: 0;
}

.card {
  border-radius: 0;
  border-left: none;
  border-right: none;
  padding-left: 0;
  border-top: 2px solid darken(#E5E4E4, 60%);
}

body {
  background-color: lighten(#E5E4E4, 5%);
}

body, input {
  font-family: "proxima-nova", "Segoe UI", sans-serif;
  color: darken(#E5E4E4, 50%);
}

@mixin min-width {
  min-width: 120px;
}

.btn-add {
  @include min-width;
}

.currency {
  text-align: right;
}

.overdrawn {
  background: lighten($red, 66%);
}

.past {
  td {
    color: #000;
  }
}

.future {
  td {
    color: #888;
  }
}

.today {
  td {
    border-color: $red;
    border-width: 2px;
  }
}

td.day, td.deictic-date {
  width: 2rem;
  white-space: nowrap;
  text-align: right;
}

td.month, th.month {
  padding-left: 0;
  width: 2rem;
}

.deictic-date {
  text-align: right;
  padding-right: 1rem !important;
}

.debit, .credit, .account {
  display: none;
}

@media only screen and (max-width : 1400px) {
  .amount {
    display: table-cell;
  }
}

@media only screen and (min-width : 1400px) {
  .debit, .credit, .account {
    display: table-cell;
  }

  .amount {
    display: none;
  }
}

table tr:hover {
  background-color: #f6f6f6;
  cursor: default;
}

header, main {
  position: absolute;
  top: 0;
  bottom: 0;
}

header {
  left: 32px;
  top: 32px;
  width: 288px;
  bottom: 32px;
}

main {
  top: 32px;
  bottom: 32px;
  left: 352px;
  right: 32px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

#account-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#account-list {
  border-top: 1px solid #ddd;
  padding-top: 1rem;

  ul {
    list-style: none;
    padding: 0;

  }

  a.sidebar {
    color: #444;
    font-weight: 600;
    font-size: 14px;
    margin: 0.5rem 0;
    display: inline-block;

    &:hover {
      text-decoration: none;
      color: #000;
    }

    i {
      // margin-right: 0.5rem;
      width: 1.8rem;
      display: inline-block;
    }
  }

  li.active {
    a {
      color: #ccc;
      cursor: default;

      &:hover {
        color: #ccc;
        cursor: default;
      }
    }
  }

  li.new-account {
    a {
      color: $red;
    }
  }

  h5 {
    // text-align: center;
    text-transform: uppercase;
    color: #aaa;
    font-size: 10px;
    letter-spacing: 1px;
    padding-left: 1.8rem;
  }
}

#cash-flow-chart, #ledger {
  position: absolute;
  left: 32px;
  right: 32px;
}

#cash-flow-chart {
  top: 32px;
  height: 300px;
}

#ledger {
  top: 364px;
  bottom: 32px;
  overflow: auto;
}

// padding on right of table because of scrollbars
table tr td:last-child, table tr th:last-child {
  padding-right: 1.5rem;
}

// suppress spinner on input['number'] fields
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.btn.btn-link.btn-delete {
  color: $red !important;
  border-color: transparent;
}

.modal-footer .btn-delete {
  padding-left: 0;
}

body.checking-account {
  header h1 {
    color: darken($yellow, 3%);
  }

  #chart-1 {
    span._0 {
      background-color: $green;
    }
  }
}

.blank-slate {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
